
  <!-- Create new board -->
    <div>
      <form class="board-form">
        <input class="font" type="text" name="input" ng-model="input.text">
        <button class="font" type="submit" name="submit" value="new board" ng-click="addBoard()">Create a board</button>
      </form>
    </div>


  <!-- Display all boards -->
    <div ng-repeat="board in boards">
      <h2 class="title font">{{ board.title }}</h2>
      <a ng-href="#/boards/{{board._id}}">
        <div class="board" ng-style="{'background-image': 'url(' + board.image + ')'}">
        </div>
      </a>
      <div class="wrapper">
          <button ng-click="removeBoard(board._id)" class="button font">Remove Board
          </button>
      </div>

    </div>




